<!DOCTYPE html>
<html>
<head>
  <title>Build your career grid</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Check boxes like a crazed monkey</h1>
<form>
  <table border=1>
    <thead>
      <tr>
        <td>Skill</td>
        <% printYear = true %>
        <% include columns %>
      </tr>
    </thead>
    <% skills = ['CSS','HTML','Client JS','Application','Database','Operations'] %>
    <% skills.forEach(function(index,skill) { %>
      <tr>
        <td><%= skill %></td>
        <% printYear = false %>
        <% include columns %>
      </tr>
    <% }) %>
  </table>
</form>
</body>
</html>