<% title = 'Build your career history | CareerGrid' %>
<% include layout/header %>

<div class="row">
  <div class="small-10 columns small-centered">
    <div class="row">
      <h1>Build your career history</h1>
      <p>Click once for "I used this", twice for "I heavily used this".</p>
    </div>
    <div class="row">
      <table id="skillgrid">
        <thead>
          <tr>
            <td>Skill</td>
            <% cellprinter = 'simple' %>
            <% include yearcells %>
          </tr>
        </thead>
        <tbody>
          <% skills.forEach(function(skill,index) { %>
            <tr>
              <td><%= skill.name %></td>
              <% cellprinter = 'selector' %>
              <% include yearcells %>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/jcanvas.min.js"></script>
<script src="/js/build.js"></script>
<% include layout/footer %>