<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>This is my value proposition! You should totally get some value out of this!</p>
<form method="POST" action="/build">
  How long did you do stuff? <input type="text" name="start"> to <input type="text" name="end">
  <button>FUCK YEAH</button>
</form>
</body>
</html>