<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/foundation.min.css' />
  <link rel='stylesheet' href='/stylesheets/jquery-ui-1.10.3.custom.min.css' />
  <link rel='stylesheet' href='/stylesheets/main.css' />
</head>
<body>
